<div class="medias-dashboard">
    <div style="float: right; margin: 5px;">
        <button mat-button (click)="new_media = true" *ngIf="!new_media">
            <mat-icon>add</mat-icon>
        </button>
        
        <button mat-button (click)="new_media = false" *ngIf="new_media">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    
    <div *ngIf="new_media">
        <mat-form-field>
            <mat-placeholder>Add media by address</mat-placeholder>
            <input matInput type="text" [(ngModel)]="newMediaAddress" [ngModelOptions]="{ standalone: true }">
            <button mat-button matSuffix (click)="getVideoData()" aria-label="add">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
        
        <div *ngIf="youtubeData" class="youtube-data">
            <small>{{ youtubeData.author_name }}</small>
            <h4>{{ youtubeData.title }}</h4>
            <img [src]="youtubeData.thumbnail_url">
            <mat-form-field>
                <mat-placeholder>Enter the duration (in seconds)</mat-placeholder>
                <input matInput type="number" [(ngModel)]="newMedia.duration" [formControl]="newMediaFormControl" required>
                <mat-error *ngIf="newMediaFormControl.invalid">That shit is required</mat-error>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary" (click)="addNewMedia()" [disabled]="newMediaFormControl.invalid">
                Confirm the add
            </button>
        </div>
    </div>
    
    <div *ngIf="!new_media">
        <mat-form-field>
            <mat-placeholder>Search medias</mat-placeholder>
            <input matInput type="search" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }">
            <button mat-button (click)="page = 1; getMediaList(search)" matSuffix aria-label="search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        
        <div class="row media-list">
            <div class="col-6" cdkDropList *ngFor="let media of mediaList" cdkDropListConnectedTo="list-2"
            id="list-1"[cdkDragData]="media" cdkDrag>
                <small>{{ media.author_name }}</small>
                <h6>{{ media.name }}</h6>
                <img [src]="media.thumbnail_url">
            </div>
            
            <div *ngIf="hasNextPage" style="width: 100%;text-align: center; margin-top: 10px">
                <button mat-button mat-raised-button color="primary" (click)="loadMore(search)">
                    Load More
                </button>
            </div>
        </div>
        
        
    </div>
</div>